micronaut:
  application:
    name: dod
    max: 50
  server:
    cors:
      enabled: true
datasources:
  default:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driverClassName: "com.mysql.cj.jdbc.Driver"
jpa:
  default:
    packages-to-scan:
      - 'usf.sdlc.model'
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        show_sql: ${HIBERNATE_SHOW_SQL}
        format_sql: true
