<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h1>Micronaut - DoD Watcher Oauth2</h1>

<h2 th:if="${security}">username: <span th:text="${security.attributes.get('email')}"></span></h2>
<!--<h2 th:if="${security}">username: <span th:text="alper.ozdamar%20gmail.com"></span></h2>-->
<h2 th:unless="${security}">username: Anonymous</h2>
<!--<h2 th:unless="${security}">username: alper.ozdamar@gmail.com</h2>-->
<nav>
    <ul>
        <li th:unless="${security}"><a href="/oauth/login/google">Enter</a></li>
        <li th:if="${security}"><a href="/logout">Logout</a></li>
    </ul>
</nav>
</body>
</html>