name: Java CI

on:
  push:
    branches:
      - 'anu_dev'
      - 'hiepbp_dev'

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
  
  deploy:
    needs: [build]
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-1
      - name: Build jar file
        run: ./gradlew shadowJar
      - name: List build folder
        run: ls ./build/libs
      - name: Copy files to S3 with the AWS CLI
        run: aws cloudformation package --template-file sam.yaml --output-template-file output-sam.yaml --s3-bucket sdlc-dev
      - name: Create/Update cloud formation
        run: aws cloudformation deploy --template-file output-sam.yaml --stack-name sdlcDev --capabilities CAPABILITY_IAM
      - name: Show CloudFormation information
        run: aws cloudformation describe-stacks --stack-name sdlcDev
